@model AddQuizModel
@{
    ViewBag.Title = "Add Quiz";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <form method="post">
        <div class="form-group">
            <div class="mb-3">
                <label asp-for="@Model.QuestionTypeId" class="form-label-add-edit">Select Question Type</label>
                <select asp-for="@Model.QuestionTypeId" class="form-control" aria-required="true">
                    <option disabled selected value="">Select Question Type...</option>
                    @foreach (var item in Model.QuestionTypes)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <span asp-validation-for="@Model.QuestionTypeId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Question"></label>
                <input asp-for="Question" class="form-control" placeholder="Write your question here...">
                <span asp-validation-for="@Model.Question" class="small text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Create" />
    </form>
</div>