@inject IQuizService quizService
@model IList<QuizDto>

@{
    ViewBag.Title = "Quiz Questions";
}

<h2 class="text-center">@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th>Author</th>
            <th>QuestionType</th>
            <th>Question</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.Author</td>
                <td>@quiz.QuestionType</td>
                <td>@quiz.Question</td>
                @if (await quizService.IsAuthorOfQuizAsync(User.Id(), quiz.Id) == true
               || User.IsAdmin())
                {
                    <td>
                        <a asp-area="" asp-controller="Quiz" asp-action="Edit" asp-route-id="@quiz.Id" class="btn btn-primary btn-lg">Edit</a>
                        <a asp-area="" asp-controller="Quiz" asp-action="Delete" asp-route-id="@quiz.Id" class="btn btn-primary btn-lg">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-area="" asp-controller="Quiz" asp-action="Details" asp-route-id="@quiz.Id" class="btn btn-primary btn-lg">Details</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>